/geobenchr-paper/*
#ignore all terraform files in the repository, also in all subfolders
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfout
# Ignore all files in the benchmark
# Ignore all files in the geobenchr-paper folder
/geobenchr-paper/*
/tmp/*
