/geobenchr-paper/*
#ignore all terraform files in the repository, also in all subfolders

*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfout
.terraform/*
# ignore all .terraform directories in the repository
**/.terraform/
#.DS_Store files are created by macOS and should be ignored
.DS_Store
