benchmark:
  sut: MobilityDB
  mixed: false
  nodes:
  - ''
  threads: 16
  test: false
  random_seed: 1500
queryConfigs:
- name: SortRidesByHourInPeriod
  use: true
  description: "Sorts ride points by hour of day within a specified time period and counts the number of points for each hour. Only the points within the given time period are considered."
  type: temporal
  mobilitydb: |
    SELECT EXTRACT(HOUR FROM unnest(timestamps(atTime(r.trip, :period_medium)))) AS hour_of_day, COUNT(*) AS num_points FROM rides r WHERE r.trip && :period_medium GROUP BY hour_of_day ORDER BY hour_of_day;
  postgis: |
    SELECT EXTRACT(HOUR FROM r.timestamp) AS hour_of_day,
       COUNT(*) AS num_points
    FROM ride_points r
    WHERE :period_medium @> r.timestamp
    GROUP BY hour_of_day
    ORDER BY hour_of_day;
  sedona: |
    SELECT EXTRACT(HOUR FROM r.timestamp) AS hour_of_day,
       COUNT(*) AS num_points
    FROM ride_points r
    WHERE r.timestamp BETWEEN :period_medium
    GROUP BY hour_of_day
    ORDER BY hour_of_day;
  spacetime: |
    SELECT hour(t) AS hour_of_day, COUNT(*) AS num_points
    FROM ride_points
    WHERE t <@ EPOCHRANGE :period_medium
    GROUP BY hour_of_day
    ORDER BY hour_of_day;
  repetition: 52 
  parameters:
  - period_medium
- name: averageRideDurationDuringDay
  use: true
  description: "Calculates the average duration of rides that occur (at least partially) during a specific day."
  type: temporal
  mobilitydb: |
    SELECT AVG(endTimestamp(trip)-startTimestamp(trip)) AS avg_duration FROM rides r WHERE r.trip && span(DATE :day::timestamp, DATE :day + INTERVAL '1 day' - INTERVAL '1 second');
  postgis: |
    SELECT
      AVG(r.end_time - r.start_time) AS avg_duration
    FROM ride_trajectories r
    WHERE (r.start_time, r.end_time)
          OVERLAPS (:day::timestamp, :day::timestamp + INTERVAL '1 day');
  sedona: |
    SELECT AVG(re.end_time - rs.start_time) AS avg_duration FROM ride_trajectories_start rs JOIN ride_trajectories_end re ON re.ride_id = rs.ride_id WHERE (rs.start_time, re.end_time) OVERLAPS (:day::timestamp, :day::timestamp + INTERVAL '1 day');
  spacetime: |
    SELECT AVG(@t) FROM rides WHERE t <@ RANGE(EPOCH :day, (EPOCH :day) + tp '1d')
  repetition: 52 
  parameters:
  - day
- name: countActiveRideInDistrict
  use: true
  description: "Counts the number of active rides within a specified district."
  type: spatial
  mobilitydb: |
    SELECT d.name, COUNT(*) AS ride_count FROM berlin_districts d JOIN rides r ON eintersects(r.trip, d.geom) WHERE d.name = :district GROUP BY d.name;
  postgis: |
    SELECT d.name, COUNT(DISTINCT r.ride_id) AS ride_count FROM berlin_districts d JOIN ride_points r ON ST_Intersects(r.geom, d.geom) WHERE d.name = :district GROUP BY d.name;
  sedona: |
    SELECT d.name, COUNT(DISTINCT r.ride_id) AS ride_count FROM berlin_districts d JOIN ride_points r ON ST_Intersects(r.geom, d.geom) WHERE d.name = :district GROUP BY d.name;
  spacetime: |
   SELECT COUNT(*) FROM ( SELECT DISTINCT trip_id FROM berlin_districts d JOIN ride_points p ON ST_Contains(ST_ToGeom(d.geom::gpolygon), ST_Point(p.x, p.y)) WHERE d.name = :district);
  repetition: 52 
  parameters:
  - district
- name: RidesPastOrToUniversity
  use: true
  description: "Finds rides that pass by or go to a specified university within a certain distance."
  type: spatial
  mobilitydb: |
    SELECT DISTINCT r.ride_id
    from rides r
    JOIN universities u
      ON r.trip && stbox(u.geom)
      AND edwithin(r.trip, u.geom, :distance)
    WHERE u.name = :university;
  postgis: |
    SELECT DISTINCT r.ride_id
    from ride_points r
    JOIN universities u
      ON ST_DWithin(r.geom, u.geom, :distance)
    WHERE u.name = :university;
  sedona: |
    SELECT DISTINCT r.ride_id
    from ride_points r
    JOIN universities u
      ON ST_DWithin(r.geom, u.geom, :distance)
    WHERE u.name = :university;
  spacetime: |
    SELECT DISTINCT r.trip_id
    FROM ride_points r
    JOIN berlin_universities u ON ST_DWithin(ST_Point(r.x, r.y), ST_ToGeom(u.geom::gmpolygon), :distance)
    WHERE u.name = :university;
  repetition: 52 
  parameters:
  - university
  - distance
- name: averageRideDurationToGoAtUniversityInPeriod
  use: true
  description: "Calculates the average duration of rides that go to a specified university within a certain distance (of the university) and time period (ride overlaps with the time period is enough as the criteria)"
  type: spatiotemporal
  mobilitydb: |
    SELECT AVG(endTimestamp(r.trip) - startTimestamp(r.trip)) AS avg_duration FROM rides r JOIN universities u ON ST_DWithin(endValue(r.trip), u.geom::geometry, :distance) WHERE r.trip && :period_medium AND u.name = :university;
  postgis: |
    SELECT
      AVG(r.end_time - r.start_time) AS avg_duration
    FROM ride_trajectories r
    JOIN universities u
      ON ST_DWithin(r.destination_geom, u.geom, :distance)
    WHERE
      :period_medium @> r.start_time::timestamp
      AND u.name = :university;
  sedona: |
    SELECT
      AVG(re.end_time - rs.start_time) AS avg_duration
    FROM ride_trajectories_start rs JOIN ride_trajectories_end re ON re.ride_id = rs.ride_id
    JOIN universities u
      ON ST_DWithin(re.destination_geom, u.geom, :distance)
    WHERE
      rs.start_time BETWEEN :period_medium
      AND u.name = :university;
  spacetime: |
    SELECT AVG(@t)
    FROM berlin_universities u
    JOIN rides r ON ST_DWithin(ST_Point(r.x1, r.y1), ST_ToGeom(u.geom::gmpolygon), :distance)
    WHERE t[1] <@ EPOCHRANGE :period_medium AND u.name = :university
  repetition: 52 
  parameters:
  - period_medium
  - university
  - distance
- name: rideCrossSeveralDistrictsInPeriod
  use: true
  description: "Finds rides that cross several districts within a specified time period."
  type: spatiotemporal
  mobilitydb: |
    SELECT r.ride_id
    FROM rides r
    JOIN berlin_districts d
      ON eintersects(atTime(r.trip, :period_medium), d.geom)
    WHERE r.trip && :period_medium
    GROUP BY r.ride_id
    HAVING COUNT(DISTINCT d.name) > 1
    ORDER BY r.ride_id;
  postgis: |
    SELECT DISTINCT r.ride_id
    FROM ride_points r
    JOIN berlin_districts d ON ST_Intersects(r.geom, d.geom)
    WHERE :period_medium @> r.timestamp
    GROUP BY r.ride_id
    HAVING COUNT(DISTINCT d.name) > 1;
  sedona: |
    SELECT DISTINCT r.ride_id
    FROM ride_points r
    JOIN berlin_districts d ON ST_Intersects(r.geom, d.geom)
    WHERE :period_medium @> r.timestamp
    GROUP BY r.ride_id
    HAVING COUNT(DISTINCT d.name) > 1;
  spacetime: |
    SELECT DISTINCT r.trip_id
    FROM ride_points r
    JOIN berlin_districts d ON ST_Intersects(ST_ToGeom(d.geom::gpolygon), ST_Point(r.x, r.y))
    WHERE r.t <@ EPOCHRANGE :period_medium
    GROUP BY r.trip_id
    HAVING COUNT(*) > 1;
  repetition: 52 
  parameters:
  - period_medium

