benchmark:
  sut: MobilityDB
  mixed: false
  nodes:
  - ''
  threads: 16
  test: false
  random_seed: 1500
queryConfigs:
- name: countActiveCrossingsInPeriod
  use: true
  description: "Counts the number of active crossings in a given time period."
  type: temporal
  mobilitydb: |
    SELECT COUNT(*), :period_medium FROM crossings c WHERE c.trip && :period_medium;
  postgis: |
    SELECT COUNT(DISTINCT c.crossing_id)
    FROM crossing_trajectories c
    WHERE (c.start_time, c.end_time) OVERLAPS :period_medium;
  sedona: |
    SELECT COUNT(DISTINCT s.crossing_id)
    FROM crossing_trajectories_start s
    JOIN crossing_trajectories_end e
      ON e.crossing_id = s.crossing_id
    WHERE (s.start_time, e.end_time) OVERLAPS :period_medium;
  spacetime: |
    SELECT COUNT(*) FROM crossings c WHERE c.t && EPOCHRANGE :period_medium;
  repetition: 52 
  parameters:
  - period_medium
- name: CrossingsActiveAtGivenHourOfDay
  use: true
  description: "Counts the number of active crossings at a given hour of the day within a time period"
  type: temporal
  mobilitydb: |
    WITH ts_table AS (SELECT c.crossing_id,unnest(timestamps(atTime(trip,:period_medium))) AS ts FROM crossings c WHERE c.trip && :period_medium) SELECT COUNT(DISTINCT crossing_id) FROM ts_table WHERE EXTRACT(HOUR FROM ts) = :hour and :period_medium @> ts;
  postgis: |
    SELECT COUNT(DISTINCT c.crossing_id) from crossing_points c WHERE EXTRACT(HOUR FROM c.timestamp) = :hour AND :period_medium @> c.timestamp;
  sedona: |
    SELECT COUNT(DISTINCT c.crossing_id) from crossing_points c WHERE EXTRACT(HOUR FROM c.timestamp) = :hour AND c.timestamp BETWEEN :period_medium;
  spacetime: |
    SELECT COUNT(*) FROM ( SELECT DISTINCT crossing_id FROM crossing_points c WHERE HOUR(c.t) = :hour and c.t && EPOCHRANGE :period_medium);
  repetition: 52 
  parameters:
  - hour
  - period_medium
- name: countActiveCrossingsNearIsland
  use: true
  description: "Counts the number of active crossings near a given island within a certain distance."
  type: spatial
  mobilitydb: |
   SELECT COUNT(*) FROM crossings c JOIN islands i ON edwithin(c.trip, i.geom, :distance) WHERE i.name = :island;
  postgis: |
    SELECT COUNT(DISTINCT crossing_id) FROM crossing_points c JOIN islands i ON ST_DWithin(c.geom, i.geom, :distance) WHERE i.name = :island GROUP BY i.name;
  sedona: |
    SELECT COUNT(DISTINCT crossing_id) FROM crossing_points c JOIN islands i ON ST_DWithin(c.geom, i.geom, :distance) WHERE i.name = :island GROUP BY i.name;
  spacetime: |
    SELECT COUNT(*) FROM (
    SELECT DISTINCT crossing_id
    FROM crossing_points c
    JOIN islands i ON ST_DWithin(ST_Point(c.x, c.y), ST_ToGeom(i.geom::gmpolygon), :distance)
    WHERE i.name = :island
    );
  repetition: 52 
  parameters:
  - island
  - distance
- name: crossingsConnectTwoGivenHarbours
  use: true
  description: "Finds crossings that connect two given harbours (i.e are within a specific distance of both harbours.)"
  type: spatial
  mobilitydb: |
    SELECT c.crossing_id FROM crossings c JOIN harbours h_start ON ST_DWithin(startValue(c.trip), h_start.geom, :distance) JOIN harbours h_end ON ST_DWithin(endValue(c.trip), h_end.geom, :distance) WHERE h_start.name = :harbour AND h_end.name = :port;
  postgis: |
    SELECT DISTINCT c.crossing_id FROM crossing_trajectories c JOIN harbours h_start ON h_start.name = :harbour AND ST_DWithin(c.origin_geom::geometry, h_start.geom::geometry, :distance) JOIN harbours h_end ON h_end.name = :port AND ST_DWithin(c.destination_geom::geometry, h_end.geom::geometry, :distance);
  sedona: |
    SELECT DISTINCT s.crossing_id FROM crossing_trajectories_start s JOIN harbours h_start ON h_start.name = :harbour AND ST_DWithin(s.origin_geom, h_start.geom, :distance) JOIN crossing_trajectories_end e ON e.crossing_id = s.crossing_id JOIN harbours h_end ON h_end.name = :port AND ST_DWithin(e.destination_geom, h_end.geom, :distance);
  spacetime: |
    SELECT crossing_id
    FROM harbours h1, harbours h2
    JOIN crossings c ON ST_DWithin(ST_Point(x0, y0), ST_ToGeom(h1.geom::gpoint), :distance)
    AND ST_DWithin(ST_Point(x1, y1), ST_ToGeom(h2.geom::gpoint), :distance)
    WHERE h1.name = :harbour AND h2.name = :port;
  repetition: 52 
  parameters:
  - harbour
  - port
  - distance
- name: averageDurationCrossingStartAtHarbourInPeriod
  use: true
  description: "Calculates the average duration of crossings that start at a given harbour within a certain distance and time period."
  type: spatiotemporal
  mobilitydb: |
    SELECT AVG(endTimestamp(c.trip)-startTimestamp(c.trip)) as avg_duration FROM crossings c JOIN harbours h ON ST_DWithin(startValue(c.trip), h.geom, :radius) WHERE :period_medium @> startTimestamp(c.trip) AND h.name = :harbour;
  postgis: |
    SELECT
      AVG(c.end_time - c.start_time) AS avg_duration
    FROM crossing_trajectories c
    JOIN harbours h
      ON ST_DWithin(c.origin_geom::geometry, h.geom::geometry, :radius)
    WHERE h.name = :harbour
      AND :period_medium @> c.start_time::timestamp;
  sedona: |
    SELECT
    AVG(e.end_time - s.start_time) AS avg_duration
    FROM crossing_trajectories_start s
    JOIN crossing_trajectories_end e
        ON e.crossing_id = s.crossing_id
    JOIN harbours h
        ON h.name = :harbour
        AND ST_DWithin(s.origin_geom, h.geom, :radius)
    WHERE s.start_time BETWEEN :period_medium;
  spacetime: |
    SELECT AVG(@t)
    FROM harbours h
    JOIN crossings ON ST_DWithin(ST_Point(x0, y0), ST_ToGeom(h.geom::gpoint), :radius)
    WHERE h.name = :harbour AND t[0] <@ EPOCHRANGE :period_medium;
  repetition: 52 
  parameters:
  - harbour
  - period_medium
  - radius
- name: HarbourActivityInPeriod
  use: true
  description: "Finds the number of crossings near a specified harbour within a certain distance during a given time period."
  type: spatiotemporal
  mobilitydb: |
    SELECT h.name, COUNT(DISTINCT c.crossing_id) AS unique_crossings_near_harbour FROM harbours h JOIN crossings c ON c.trip && :period_medium AND edwithin(attime(c.trip,:period_medium), h.geom, :radius) WHERE h.name = :harbour GROUP BY h.name;
  postgis: |
    SELECT h.name AS harbour_name, COUNT(DISTINCT c.crossing_id) AS unique_crossings_near_harbour FROM harbours h JOIN crossing_points c ON ST_DWithin(c.geom, h.geom, :radius) WHERE :period_medium @> c.timestamp AND h.name = :harbour GROUP BY h.name;
  sedona: |
    SELECT h.name AS harbour_name, COUNT(DISTINCT c.crossing_id) AS unique_crossings_near_harbour FROM harbours h JOIN crossing_points c ON ST_DWithin(c.geom, h.geom, :radius) WHERE c.timestamp BETWEEN :period_medium AND h.name = :harbour GROUP BY h.name;
  spacetime: |
    SELECT h.name, COUNT(*) AS unique_crossings_near_harbour from harbours h JOIN crossing_points c ON ST_DWithin(ST_Point(c.x, c.y), ST_ToGeom(h.geom::gpoint), :radius) WHERE c.t && EPOCHRANGE :period_medium AND h.name = :harbour GROUP BY h.name;
  repetition: 52 
  parameters:
  - period_medium
  - radius
  - harbour
